<div class="wrapper">
  <div class="form_container">

    <h1>Editing Craft Store</h1>

    <%= render 'form', craft_store: @craft_store %>

    <%= link_to 'Show', @craft_store %> |
    <%= link_to 'Back', craft_stores_path %>


    </div>
</div>