<br><br>
<div class="wrapper">
  <div class="form_container">
    <h2>
      <strong> Thank you! </strong> for shopping with us! <br>
      Your order has been processed. <br>
      Order details are sent to your mail. <br><br>
    </h2>

    <%= link_to "Click here to continue shopping." , gallery_index_path  %>
    
  </div>
</div>